/* html & body
=============================================== */
body {
  color: #555555;
  font: 13px/20px "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
}
#body  { background: #eeeeee url(../img/bg.jpg) repeat-x center top; }


/* headings
=============================================== */

h1,h2,h3,h4,h5,h6 {
  color: #313131;
  line-height: 1em;
  letter-spacing: 0.02em;
  font-family: "GraublauWeb","Century Gothic","Avant Garde Gothic","Avant Garde","URW Gothic L",helvetica,sans-serif;
}

h1 { font-size: 36px;  margin-bottom:  7px; font-weight: 400; }
h2 { font-size: 22px;  margin-bottom:  5px; font-weight: 400; }
h3 { font-size: 18px;  margin-bottom:  5px; font-weight: 400; }
h4 { font-size: 1.0em; margin-bottom:  5px; font-weight: 700; }
h5 { font-size: 1.0em; margin-bottom:  5px; font-weight: 700; }
h6 { font-size: 1.0em; margin-bottom:  5px; font-weight: 700; } 

.panel-inner .pane-title { color: #A10C10; }
.block h2 {
  padding: 0 0 3px;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  text-shadow: 0 1px 0 #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* special classes
=============================================== */
.freestyle {
  font-size: 43px;
  padding-top: 10px;
  margin-bottom: 2px;
  text-decoration: none;
  letter-spacing: -0.04em;
}
.freestyle a { text-decoration: none; }

@font-face {
  font-family: "GraublauWeb";
  src: url(../fonts/GraublauWeb.otf) format("opentype");
}

@font-face {
  font-family: "GraublauWeb";
  font-weight: bold;
  src: url(../fonts/GraublauWebBold.otf) format("opentype") ;
}

.headline { padding-top: 7px; padding-bottom: 7px; }
.box      { padding:1.5em; margin-bottom:1.5em; background:#e5eCf9; }

.black { color: #000000; }
.green { color: #717400; }
.red   { color: #A10C10; }
.blue  { color: #005C8A; }

.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

.bold     { font-weight: 700; }
.bolder   { font-weight: 900; }

.small    { font-size: .9em; }
.smaller  { font-size: .8em; }

.big      { font-size: 1.1em; }
.bigger   { font-size: 1.2em; }

.loud    { font-size: 70px; }

/* text elements
=============================================== */
p           { margin: 0 0 10px; }
img         { display: block; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover     { color: #999999; }
a           { color: #005C8A; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #999999; font-style: italic; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

hr       {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}

/* lists
=============================================== */
#content ul, 
#content ol          { margin: 5px 0 5px 5px; padding-left: 5px; }
#content ul          { list-style-type: disc; }
#content ol          { list-style-type: decimal; }

#content ul li,
#content ol li       { margin: 0 0 3px 20px; }

#content li ul,
#content li ol       { margin: 0; }

#content dl          { margin: 0 0 1.5em 0; }
#content dl dt       { font-weight: bold; }
#content dd          { margin-left: 1.5em;}

/* tables
=============================================== */
table         { margin-bottom: 1.4em; width:100%; }
th            { font-weight: bold; }
thead th      { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td    { background: #e5ecf9; }
tfoot         { font-style: italic; }
caption       { background: #eee; }

/* success, notice and error boxes
=============================================== */
.error,
.notice,
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/* forms 
=================================== */
input[type=text], input[type=password], textarea {
  padding: 4px 7px;
}
input[type=reset], input[type=submit] {
  padding: 4px 10px;
}

input,
select,
textarea { 
  outline: 0;
  color: #606060;
  font: bold 14px/100% Arial,"Lucida","Lucida Grande","Trebuchet MS",sans-serif;
  border-radius:         3px;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
}

input[type=text],
input[type=password],
select,
textarea {
  margin-right: 10px;
  padding: 10px 7px 7px;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  border: solid 1px #d3d3d3;
  border-top-color: #bbb;
  border-bottom-color: #eee;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

input[type=text]:focus,
input[type=text]:hover,
input[type=password]:focus,
input[type=password]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover  {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#f9f9f9));
  background: -moz-linear-gradient(bottom, #FFFFFF, #EEEEEE 1px, #f9f9f9 25px);
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  color: #000000;
  border: 1px solid #d3d3d3;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

textarea {
  line-height: 150%;
}

/* fieldsets ------------------------------------ */
fieldset {
  border: 1px solid #e1e1e2;
  background-color: #fbfbfb;
}
legend {
  background-color: #086782;
}
fieldset {
  margin: 15px 0;
  padding: 13px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
legend {
  margin-left: -8px;
  padding: 1px 8px 1px 9px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.form-item {
  margin: 10px 0;
}
legend + .form-item {
  margin-top: 0;
}
fieldset .form-item:first-child {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-item .description {
  background-color: #f5f9fa;
  border: 1px solid #deeaec;
  font-size: 0.917em;
  margin: 9px 0 21px;
  padding: 2px 6px;
}
.form-item label {
  vertical-align: middle;
  font-size: 0.9em;
  font-weight: 300;
}
label.option {
  display: inline;
  font-weight: normal;
  color: inherit;
  margin-left: 3px;
}
span.form-required {
  font-weight: 700;
  color: #e25401;
}
html.js fieldset.collapsible .fieldset-legend {
  background: none;
}
html.js fieldset.collapsible .fieldset-legend {
  padding: 2px 4px 2px 10px; /* LTR */
}
html.js fieldset.collapsible legend a {
  padding: 0 15px 0 0; /* LTR */
  color: #fff;
}
html.js fieldset.collapsed legend a {}
html.js fieldset.collapsed .fieldset-wrapper,
html.js fieldset.collapsed .action {
  display: none;
}
html.js fieldset.collapsed {
  padding: 10px 20px;
}
html.js fieldset.collapsed {
  border-width: 1px;
  margin-bottom: 15px;
}
html.js input.form-autocomplete {
  background-position: 99% 8px; /* LTR */
}
html.js input.throbbing {
  background-position: 99% -12px; /* LTR */
}

/* reset/submit ------------------------------------ */
input[type=reset],
input[type=submit] {
  margin: 0;
  padding: 5px 20px;
  border: 0;
  font-size: 120%;
  color: #FFFFFF;
  background: #617798;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

input[type=reset]:hover,
input[type=submit]:hover {
  background: #F60;
}