/* page width
========================================================== */
.pagewidth { width: 960px; margin: 0 auto; position: relative; }

/* panel spacing
========================================================== */
.panel-col       .panel-inner { padding 0; margin: 0 10px 12px 10px; }
.panel-col-first .panel-inner { padding 0; margin: 0 10px 12px  0px; }
.panel-col-last  .panel-inner { padding 0; margin: 0  0px 12px 10px; }
.panel-col-full  .panel-inner { padding 0; margin: 0  0px 12px  0px; }

/* layout of main page items
========================================================== */
#page {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

  #header {}
     
    #header .pagewidth {
      height: 210px;
      position: relative;
    }
    
      #logo {
        left: 5px;
        bottom: 40px;
        width: 360px;
        height: 112px;
        display: block;
        position: absolute;
        background: transparent url(../logo.png);
      }
      #logo img { display: block; }
      
      #navbar {
        bottom: 0;
        height: 40px;
        position: absolute;
      } /* see nav.css for further definitions */
    
  #main {}   
  
    #main .pagewidth {} 
    
      #content {
        min-height: 425px;
        padding: 30px 0 25px;
      }
    
  #footer {
    padding-bottom: 20px;
  }
  
    #footer .pagewidth {
      height: 240px;
      border-top: 1px solid #d0d0d0;
    }
    
      #fogo {
        right: 20px;
        top: 20px;
        width: 146px;
        height: 65px;
        display: block;
        position: absolute;
        background: transparent url(../fogo.png);
      }
      
      #copyright {
        right: 20px;
        top: 88px;
        text-align: right;
        font-size: 11px;
        line-height: 15px;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        display: block;
        position: absolute;
      }