/* Navbar
=============================================== */
#navbar ul,
#navbar li,
#navbar a  {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
}

#navbar a {
  color: #999999;
  font-size: 12px;
  font-family: "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
}
#navbar > ul {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 960px;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#404040));
  background: -moz-linear-gradient(top,  #606060,  #404040);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#606060', EndColorStr='#404040', GradientType=0);
  border-radius:           2px;
  -moz-border-radius:      2px;
  -webkit-border-radius:   2px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#navbar ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#navbar ul       { display: inline-block; }

  #navbar li {
    margin: 0;
    padding: 3px;
    float: left;
    position: relative;
  }

    #navbar a {
      margin: 0;
      padding: 0 31px;
      height: 32px;
      line-height: 35px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0,0,0, .65);
      display: block;
      border: none;
    }
    
    #navbar li.active-trail > a,
    #navbar li:hover        > a {
      padding: 0 30px;
      height: 32px;
      line-height: 35px;
      color: #f0f0f0;
      border:     1px solid #606060;
      border-top: 1px solid #909090 !important;
      border-radius:           2px;
      -moz-border-radius:      2px;
      -webkit-border-radius:   2px;
      background-color: #707070;
      background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#606060));
      background: -moz-linear-gradient(top,  #808080,  #606060);
      filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#808080', EndColorStr='#606060', GradientType=0);
      box-shadow:         0 1px 3px rgba(0,0,0, .5);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .5);
      -moz-box-shadow:    0 1px 3px rgba(0,0,0, .5);
    }
    
    #navbar li a:focus {
      color: #c0c0c0;
      border:     1px solid #909090;
      border-top: 1px solid #606060 !important;
      box-shadow:         inset 0 1px 3px rgba(0,0,0, .2);
      -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0, .2);
      -moz-box-shadow:    inset 0 1px 3px rgba(0,0,0, .2);
    }
    
#navbar ul ul            { display: none;  }
#navbar ul li:hover > ul { display: block; }

#navbar ul ul {
  left: -4px;
  top: 40px;
  width: 230px;
  height: auto;
  margin: 0;
  padding: 1px 0;
  position: absolute;
  z-index: 800;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#303030));
  background: -moz-linear-gradient(top,  #404040,  #303030);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#404040', EndColorStr='#303030', GradientType=0);
  border:      1px solid #202020;
  border-top:  none !important;
  box-shadow:         0 1px 3px rgba(0,0,0, .3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  -moz-box-shadow:    0 1px 3px rgba(0,0,0, .3);
}


  #navbar ul ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: none;
    display: block;
  }

    #navbar ul ul li a {
      margin: 3px 5px;
      padding: 0 15px;
      border: none !important;
      border-bottom: 1px dotted #303030 !important;
      background: none;
      border-radius:           2px;
      -moz-border-radius:      2px;
      -webkit-border-radius:   2px;
    }
    #navbar ul ul li.active-trail > a.active,
    #navbar ul ul li:hover a {
      margin: 3px 5px;
      padding: 0 15px;
      border: none !important;
      border-bottom: 1px dotted #303030 !important;
      background: #424242;
      box-shadow:         none;
      -webkit-box-shadow: none;
      -moz-box-shadow:    none;
    }
    #navbar ul ul,
    #navbar ul ul li:last-child > a {
      border-bottom-right-radius:         4px;
      border-bottom-left-radius:          4px;
      -webkit-border-bottom-left-radius:  4px;
      -moz-border-radius-bottomleft:      4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright:     4px;
    }
    
#navbar ul ul ul {
  left: 200px;
  top: 20px;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 1px 0;
  position: absolute;
  z-index: 900;
  background: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#303030));
  background: -moz-linear-gradient(top,  #404040,  #303030);
  border:      1px solid #202020;
  border-top:  none !important;
  box-shadow:         0 1px 3px rgba(0,0,0, .3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  -moz-box-shadow:    0 1px 3px rgba(0,0,0, .3);
}


/* Footer Menu
=============================================== */
#footerbar {
  top: 20px;
  left: 20px;
  position: absolute;
}

#footerbar ul.menu {
  list-style-type: none;
}

#footerbar ul.menu li {
  margin: 0;
  padding: 0;
  width: 160px;
  font-size: 13px;
  display: inline;
  float: left;
  font-weight: bold;
  list-style-type: none;
  position: relative;
}

#footerbar ul.menu li.first    { display: none; }
#footerbar ul.menu li li.first { display: block; }


#footerbar ul.menu li a {
  color: #777777;
  text-decoration: none;
}

#footerbar ul.menu li ul {
  margin: 4px 0 5px;
}
#footerbar ul.menu ul li {
  display: block;
  float: none;
  font-size: 85%;
  font-weight: normal;
  padding: 3px 0;
  width: auto;
}
#footerbar ul.menu ul li ul {
  margin: 0;
  padding: 0;
}
#footerbar ul.menu li ul li ul li {
  border-left: 2px solid #DDDDDD;
  margin: 0;
  padding: 0;
}
#footerbar ul.menu li ul li ul li a {
  margin-left: 5px;
}



/* Current Menu [menu block]
=============================================== */
#page .pane-menu-block-1 {}

#page .pane-menu-block-1 .panel-inner {
  position: relative;
  border: 1px solid #ffffff;
  background-color: #fcfcfc;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(255,255,255)),
    color-stop(0.85, rgb(250,250,250)),
    color-stop(0.95, rgb(240,240,240))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 20%,
    rgb(250,250,250) 85%,
    rgb(240,240,240) 95%
  );
  border-radius:         3px;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  box-shadow:         0 1px 3px rgba(0,0,0, .15);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .15);
  -moz-box-shadow:    0 1px 3px rgba(0,0,0, .15);
}

#page .pane-menu-block-1 h2 {
  margin: 0;
  padding: 8px 0 8px 8px;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f0f0f0', EndColorStr='#fcfcfc', GradientType=0);
}

#page .pane-menu-block-1 .pane-content {
  clear: both;
}
  
#page .pane-menu-block-1 .pane-content ul.menu {
  margin: 0; 
  padding: 0;
}
  
#page .pane-menu-block-1 .pane-content ul.menu li {
  margin: 0 0 1px;
  padding: 0;
  list-style-type: none;
  list-style-image: none; /* bullets are set on this li */ 
  font-size: 11px; display: block;
}
#page .pane-menu-block-1 .pane-content ul.menu li.last {
  margin-bottom: 0;
}

#page .pane-menu-block-1 .pane-content ul.menu li a {
  margin: 0;
  padding: 5px 0 2px 7px;
  height: 22px;
  color: #555;
  text-decoration: none;
  display: block;
}

#page .pane-menu-block-1 .pane-content ul.menu li a:hover {
  padding: 6px 0 1px 7px;
  color: #005C8A;
  background: #f3f3f3;
}

#page .pane-menu-block-1 .pane-content ul.menu li a.active {
  color: #005C8A;
  font-weight: bold;
  background: #f6f6f6;
  box-shadow:         inset 0 1px 3px rgba(0,0,0, .05);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0, .05);
  -moz-box-shadow:    inset 0 1px 3px rgba(0,0,0, .05);
}


/** Sub menu list items **/
#page .pane-menu-block-1 .pane-content ul.menu li.collapsed a,
#page .pane-menu-block-1 .pane-content ul.menu li.expanded a {
}

#page .pane-menu-block-1 .pane-content ul.menu li.collapsed a:hover,
#page .pane-menu-block-1 .pane-content ul.menu li.expanded a:hover {
}

#page .pane-menu-block-1 .pane-content ul.menu li.expanded ul {
  margin: 0; padding: 0;
}

#page .pane-menu-block-1 .pane-content ul.menu li.expanded ul li {
  margin: 0; padding: 0;
}

#page .pane-menu-block-1 .pane-content ul.menu li.expanded ul li a {
  padding-left: 11px;
  width: 145px;
  color: #555;
}

#page .pane-menu-block-1 .pane-content ul.menu li.expanded ul li a:hover {
  color: #005C8A;
}

#page .pane-menu-block-1 .pane-content ul.menu li.expanded ul li a.active {
  color: #005C8A;
  font-weight: bold;
}